<h1 class="text-3xl mb-4">My Favorite Flows</h1>

<% if @flows.count > 0 %>
<table class="table-auto">
    <thead class="bg-gray-50 border-b-2 border-gray-200 h-[60px] font-bold">
        <td class="px-4 text-center">Favorite</td>
        <td class="px-4">Stream</td>
        <td class="px-4">Location</td>
        <td class="px-4">State</td>
        <td class="px-4">Flow</td>
    </thead>
    <%= render partial: 'flows/flows', flows: @flows %>
</table>
<% else %>
  <p>You have no favorite flows.</p>
<% end %>