<article class="container mx-auto flex flex-col">
    <% if Current.user %>
        <p class="text-lg mb-3">Hello, <%= Current.user.email %></p>
    <% end %>
    <h1 class="text-3xl mb-4">My Favorite Flows</h1>

    <% if @flows.count > 0 %>
    <table class="table-auto">
        <thead class="bg-gray-50 border-b-2 border-gray-200 h-[60px] font-bold">
            <td class="px-4 text-center">Favorite</td>
            <td class="px-4">Section</td>
            <td class="px-4">Stream</td>
            <td class="px-4">Location</td>
            <td class="px-4">Flow (cfs)</td>
        </thead>
        <%= render partial: 'flows/flows', locals: {flows: @flows} %>
    </table>
    <% else %>
        <p>You have no favorite flows.</p>
    <% end %>
</article>