<tbody id="flows-list">
    <% flows.each do |flow| %>
        <tr class="odd:bg-white even:bg-slate-50 h-[60px]">
            <td class="px-4 align-middle"><%= link_to flow.name, flow, class: "text-blue-600 no-underline hover:underline" %></td>
            <td class="px-4 align-middle"><%= flow.location %></td>
            <td class="px-4 align-middle"><%= flow.state %></td>
            <td class="px-4 align-middle"><%= flow.flow %></td>
        </tr>
    <% end %>
</tbody>