<h1>Stream Flows</h1>

<ul>
    <% @flows.each do |flow| %>
        <li>
            <%= link_to flow.name, flow %>
        </li>
    <% end %>
</ul>

# https://guides.rubyonrails.org/v6.1/getting_started.html#creating-a-new-article
## authentication UserModel
## how to get live flows from website... scraping and getting once per day
### allow users to save favorites
### aller users to search by location