<h1>Stream Flows</h1>

Our page has <%= Flow.public_count %> public streams and counting!

<ul>
    <% @flows.each do |flow| %>
        <% unless flow.archived? %>
            <li>
                <%= link_to flow.name, flow %>
            </li>
        <% end %>
    <% end %>
</ul>

<%= link_to "New Stream Flow", new_flow_path %>