<section class="container mx-auto flex flex-col">
    <%= form_with(url: flows_path, method: "get", local: true) do |form| %>
        <%= form.text_field :query,
            value: params[:query],
            data: { reflex: "input->FlowSearchReflex#search" },
            placeholder: "Search by Stream Name...",
            class: "w-[300px] border-2 border-gray-200 rounded-lg p-3 mb-4 bg-gray-50 focus:border-blue-500 focus:outline-none" %>
    <% end %>

    <!-- add cards instead of table -->
    <table class="table-auto">
        <thead class="bg-gray-50 border-b-2 border-gray-200 h-[60px] font-bold">
            <td class="px-4 text-center">Favorite</td>
            <td class="px-4">Section</td>
            <td class="px-4">Stream</td>
            <td class="px-4">Location</td>
            <td class="px-4">Flow (cfs)</td>
        </thead>
        <%= render partial: "flows", locals: {flows: @flows} %>
    </table>
    <hr>
    <%= link_to "Add Stream Flow", new_flow_path, class: "mt-[40px] w-[200px] text-center bg-blue-500 hover:bg-orange-500 text-white font-bold py-2 px-4 rounded" %>

</section>