<h1>Stream Flows</h1>

<ul>
    <% @flows.each do |flow| %>
        <li>
            <a href="/flows/<%= flow.id %>">
                <%= flow.name %>
                <%= flow.location %>
                <%= flow.flow %> cfs
            </a>
        </li>
    <% end %>
</ul>