<section 
  class="mt-2 mb-2"
  id='map'
  style='width: 100vw; height: 80vh; position: relative;'
  data-mapbox-access-token="<%= ENV["MAPBOX_ACCESS_TOKEN"] %>"
  <div id="tools-overlay" 
       class="absolute top-5 left-5 z-10">
    <%= render 'maps/components/search', locals: {flows: @flows } %>
  </div>

  <div id="popup-overlay" class="absolute top-5 right-5 z-10"></div>

  <!-- Map Legend -->
  <div id="layers-overlay" class="absolute bottom-5 left-5 z-10">
    <%= render 'maps/components/layers' %>
  </div>
</section>

<%#= javascript_pack_tag "application" %>