<section class="mt-2 mb-2" id='map' style='width: 100vw; height: 80vh;'>
  <div id="tools-overlay" class="absolute top-5 left-5 rounded-md bg-white p-4 z-10">
    <p>Search Form will go here</p>
    <p>Search results will go here</p>
  </div>
  <!-- Allow users to favorite flows -->

  <div id="tools-overlay" class="absolute top-5 right-5 rounded-md bg-white p-4 z-10">
    <p>Tools Content Goes Here</p>
  </div>

  <!-- Zoom in zoom out -->
  <!-- Map Legend -->

  <div id="layers-overlay" class="absolute bottom-5 left-5 rounded-md bg-white p-4 z-10">
    <p>Map Layers</p>
  </div>
</section>

<script>
  mapboxgl.accessToken = '<%= ENV["MAPBOX_ACCESS_TOKEN"] %>';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/grantjfogle/cl0enmci8000715mufow03qvr',
    center: [-105.782, 39.55],
    zoom: 7
  });

  map.addControl(new mapboxgl.NavigationControl(), 'bottom-right');


  map.on('load', function () {
    map.addSource('example-source', {
        'type': 'geojson',
        'data': {
            'type': 'Feature',
            'geometry': {
                'type': 'Point',
                'coordinates': [-105.782, 39.55]
            },
            'properties': {
                'title': 'Mapbox',
                'description': 'Washington, D.C.'
            }
        }
    });

    map.addLayer({
        'id': 'example-layer',
        'type': 'circle',
        'source': 'example-source',
        'paint': {
            'circle-radius': 10,
            'circle-color': '#007cbf'
        }
    });

    /*
    map.addLayer({
         'id': 'grantjfogle.101utn3o',
           'type': 'raster',
           'source': {
               'type': 'raster',
               'tiles': [
                   'https://api.mapbox.com/v4/grantjfogle.101utn3o/{z}/{x}/{y}.png?access_token=<%= ENV["MAPBOX_ACCESS_TOKEN"] %>'
               ],
               'tileSize': 256
           },
           'minzoom': 0,
           'maxzoom': 10
       });
       */
});

</script>