<section 
  class="relative"
  id='map'
  style='height: 100%; width: 100%;'
  data-mapbox-access-token="<%= ENV["MAPBOX_ACCESS_TOKEN"] %>">
  # TODO: find a better way to pass access token to mapbox

  <div id="tools-overlay" class="absolute top-0 left-0 mx-4 my-2 z-10">
    <%= render 'maps/components/search', locals: {flows: @flows } %>
  </div>

  <div id="popup-overlay" class="absolute top-5 right-5 z-10"></div>

  <!-- Map Legend -->
  <div id="layers-overlay" class="absolute bottom-5 left-5 z-10">
    <%= render 'maps/components/layers' %>
  </div>
</section>

<%#= javascript_pack_tag "application" %>