<div class="layers-content bg-white p-4 bg-white rounded-md shadow-md mb-2 w-[368px]">
    <div class="flex justify-between text-3xl py-2">
        <h2 class="font-bold">Map Layers</h2>
        <p class="hover:text-blue-500 hover:pointer"><i class="fa-solid fa-xmark"></i></p>
    </div>
    <p class="text-xl flex justify-between mb-2">Boat Ramps
        <i class="fa-solid fa-toggle-on text-green-700 text-3xl"></i>
    </p>
    <p class="text-xl flex justify-between mb-2">Rapids
        <i class="fa-solid fa-toggle-on text-green-700 text-3xl"></i>
    </p>
    <p class="text-xl flex justify-between mb-2">Fly Shops
        <i class="fa-solid fa-toggle-on text-green-700 text-3xl"></i>
    </p>
    <p class="text-xl flex justify-between mb-2">Public/Private Land
        <i class="fa-solid fa-toggle-on text-green-700 text-3xl"></i>
    </p>
    <p class="text-xl flex justify-between">Easements
        <i class="fa-solid fa-toggle-on text-green-700 text-3xl"></i>
    </p>

</div>