<div id="favorites-button-<%= flow_id %>">
    <% if is_favorited %>
        <button type="button" 
            data-reflex="click->FavoritesReflex#toggle_favorite"
            data-flow-id="<%= flow_id %>"
            data-is-favorited="true"
            title="Unfavorite"
            class="text-lg text-yellow-500 hover:underline focus:outline-none hover:cursor-pointer">
            <i class="fas fa-star fa-xl"></i>
        </button>
    <% else %>
        <button type="button" 
            data-reflex="click->FavoritesReflex#toggle_favorite"
            data-flow-id="<%= flow_id %>"
            data-is-favorited="false"
            title="Unfavorite"
            class="text-lg text-yellow-500 hover:underline focus:outline-none hover:cursor-pointer">
            <i class="fa-regular fa-star fa-xl"></i>
        </button>
    <% end %>
</div>