
.hidden-checkbox { display: none; }

.layers-content { display: none; }

#layers-toggle:checked ~ .layers-toggle-button { display: none;}

#layers-toggle:checked ~ .layers-content { display: block;}


/* Updated styling for layers switch */
.switch {
  position: relative;
  display: inline-block;
  width: 45px; /* 75% of the original 60px */
  height: 25.5px; /* 75% of the original 34px */
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19.5px; /* 75% of the original 26px */
  width: 19.5px; /* 75% of the original 26px */
  left: 3px; /* Adjusted for proportionality */
  bottom: 3px; /* Adjusted for proportionality */
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #16a34a;
}

input:focus + .slider {
  box-shadow: 0 0 1px #16a34a;
}

input:checked + .slider:before {
  -webkit-transform: translateX(19.5px); /* Adjusted to match the new knob size */
  -ms-transform: translateX(19.5px);
  transform: translateX(19.5px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 25.5px; /* Updated to maintain the rounded appearance */
}

.slider.round:before {
  border-radius: 50%;
}
