<section class="map-search-table" id="map-search-results-table">
    <!-- main bg, only show when item exists -->
    <% if !flows.nil? %>
        <% flows.each do |flow| %>
            <div class="bg-white p-2 mt-2 rounded-md">
            <!-- search result -->
            <div class="flex items-center">
                <i class="fa-solid fa-water text-blue-600 mr-2"></i>
                <p class="text-sm mr-2">Colorado River</p>
                <p class="text-sm text-gray-500">Kremmling, CO</p>
            </div>
        <% end %>
    <% end %>
</section>