<p>
    <strong>Author:</strong>
    <%= report.author %>
</p>
<p>
    <strong>Report:</strong>
    <%= report.body %>
</p>
<p>
    <strong>Rating:</strong>
    <%= report.rating %>
</p>
<p>
<%= link_to "Destroy Report",
    [report.flow, report], 
    method: :delete,
    data: { confirm: "Are you sure you want to delete this report?"} %>
</p>