<header>
    <nav class="bg-white text-white border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-blue-500 flex flex-row justify-between">
        <div>
            <a href="#"><span>DRIFT</span></a>
        </div> 
        <div>
            <ul class="flex flex-row">
                <li class="mx-8"><a href="#">Log in</a></li>
                <li><a href="#">Sign Up</a></li>
            </ul>
        </div>
    </nav>
</header>