<header>
    <nav class="bg-white text-white border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-blue-500 flex flex-row justify-between">
        <div>
            <a href="#"><span>DRIFT</span></a>
        </div> 
        <div>
            <ul class="flex flex-row">
                <li class="mr-8"><a href="/sign_in">Log in</a></li>
                <li class="mr-8"><a href="/sign_up">Sign Up</a></li>
                <li><a href="#">Log out</a></li>
            </ul>
        </div>
    </nav>
</header>